services:
  postgres:
    image: postgres:15
    container_name: crm_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: crm_customers
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '5433:5432'
    networks:
      - crm-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: crm_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - '8080:80'
    networks:
    - crm-network


  crm_service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: crm_api
    ports:
      - '3001:3000'
    environment:
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USERNAME=postgres
      - DB_PASSWORD=postgres
      - DB_DATABASE=crm_customers
    depends_on:
      - postgres
    networks:
      - crm-network

networks:
  crm-network:
    driver: bridge

volumes:
  postgres_data: